.page15-profile-mentee{
    background-image: url('../../assets//images/background_pattren.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin-top: 80px;
    overflow: hidden;
}
@media (max-width:825px) {
    .page15-profile-mentee .container-fluid{
        margin-top: 0 !important;
    } 
}
@media (min-width:768px) and (max-width:825px) {
    .page15-profile-mentee .page15-left,
    .page15-profile-mentee .page15-right
    {
        display: none !important;
    }
    .page15-profile-mentee .page15-content{
        width: 100% !important;
    }   
}

