.mentoring-opertunity .mentoring-opertunity-container{
    background-color: #F8F8F8;
    border-radius: 0 0 15px 15px;
    height: auto;
    margin-bottom: 50px;
}
.mentoring-opertunity .title,.mentoring-opertunity .sec-title{
    font-size: var(--p-14);
    color:var(--Secondary-1) ;
    margin-top: -10px;
}
.mentoring-opertunity .card-item {
    margin-right: 40px;
    display: block;
}
.mentoring-opertunity .card-item .card-img{
    width: 120px;
    height: 110px;
    background-color: #d9d9d9;
    border-radius: 15px;
}
.mentoring-opertunity .card-item .name{
    font-weight: var(--fw-600);
}
.mentoring-opertunity .card-item .job{
   color: var(--Secondary-1);
   font-size: var(--p-14);
   margin-top: -17px;
}
.mentoring-opertunity .btn-download{margin: 30px 0}
@media (max-width:1330px) {
    .mentoring-opertunity .card-item .card-img{
        width: 100px;
        height: 90px;
    } 
    .mentoring-opertunity .card-item .name{font-size: var(--p-14)}
    .mentoring-opertunity .card-item .job{font-size: var(--p-12)}   
}
@media (max-width:1150px) {
    .mentoring-opertunity .card-item .card-img{
        width: 90px;
        height: 80px;
    } 
    .mentoring-opertunity .card-item .name{font-size: var(--p-12)}
    .mentoring-opertunity .card-item .job{font-size: 10px}
}
@media (max-width:1072px) {
    .mentoring-opertunity .card-item .card-img{
        width: 110px;
        height: 100px;
    }
    .mentoring-opertunity .card-item .name{font-size: var(--p-14)}
    .mentoring-opertunity .card-item .job{font-size: var(--p-12)}    
}
@media (min-width:541px) and (max-width:922px) {
    .mentoring-opertunity .btn-download{
        width: 200px;
        font-weight: 400 !important;
    }
}
@media (max-width:650px) {
    .mentoring-opertunity .card-item {margin-right: 30px}
    .mentoring-opertunity .card-item .card-img{
        width: 100px;
        height: 90px;
    }
}
@media (max-width:540px) {
    .mentoring-opertunity .mentoring-opertunity-container{
        padding: 10px 0 !important;
        background-color: transparent;
    }
    .mentoring-opertunity .mentoring-opertunity-content{
        display: none !important;
    }
    .mentoring-opertunity .card-item .name{
        font-weight: var(--fw-600);
    }
    .mentoring-opertunity .card-item .job{
        color: var(--Black);
    }
    .mentoring-opertunity .title{display: none;}
    .mentoring-opertunity .sec-title{
        display: block !important;
        color: var(--Black);
        margin-top: 5px;
    }
    .mentoring-opertunity .sec-title span{
        font-weight: var(--fw-600);
    }
    .mentoring-opertunity .slider{
        display: block !important;
        background-color: #fff;
        padding: 10px 0;
        width: 100%;
        height: auto;
    } 
    .mentoring-opertunity .slider .card-img{
        width: 170px;
        height: 150px;
    }
    .mentoring-opertunity .slider .card-img img{
        border-radius: 10px;
    }
}
@media (max-width:450px) {
    .mentoring-opertunity .btn-download{width: 90%;margin-left: 5%;}
}
@media (min-width:412px) and (max-width:420px) {
    .mentoring-opertunity .slider .card-img{
        width: 180px;
        height: 160px;
    }
}
@media (max-width:280px) {
    .mentoring-opertunity .slider .card-img{
        width:80%;
        height: 170px;
        margin: auto;
    }
    .mentoring-opertunity .slider .name,.mentoring-opertunity .slider .job{
        margin-left: 30px !important;
    }   
}